DATABASE_URL="postgresql://superapp_app:CHANGE_ME@127.0.0.1:55432/superapp_db?sslmode=disable&connect_timeout=10"
PRISMA_DATABASE_URL="postgresql://superapp_app:CHANGE_ME@127.0.0.1:55432/superapp_db?sslmode=disable&connect_timeout=10"
PRISMA_INTROSPECT_SCHEMAS="auth,channel,product,warehouse,sales,payout,accounting"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-long-random-secret-at-least-16-characters"
DEMO_ADMIN_EMAIL="ops-auth@superapp.internal"
DEMO_ADMIN_PASSWORD="DevOnly-Replace-Me-123!"
